extends layout

block content
  h1 Create your own trading bot with the power of IA!
  form(action="/sent", method="POST")
    div
      label(for="broker") Enter your broker institution : 
      input#broker(type="text", name="broker")
    div
      label(for="instrument") Enter the instrument EX: BTC/USDT : 
      input#broker(type="text", name="instrument") 
    div
      label(for="leverage") Enter the leverage you use : 
      input#leverage(type="text", name="leverage")
    div
      label(for="entry") Enter the entry strategy : 
      div
        textarea#entry.large-input(name="entry", cols="30", rows="10")
    div
      label(for="exit") Enter the exit strategy : 
      div
        textarea#exit.large-input(name="exit", cols="30", rows="10")
    div
      label(for="risk") Enter the risk management strategies : 
      div 
        textarea#risk.large-input(name="risk", cols="30", rows="10")
    div If none are given, we will implement the 3% risk management by default
    div
      button(type="submit") Submit 
  if(msg)
    h1=msg
    h2 Code used to test strategy with API
    p #{testBot}
    h2 Code used to run real bot
    p #{realBot}
